// Tang Nano 20K (GW2AR-LV18QN88C8/I7) pin constraints
// Source: sipeed/TangNano-20K-example (official)

// 27 MHz oscillator
IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// User buttons (active low: 0 when pressed)
IO_LOC "btn_s1" 88;
IO_PORT "btn_s1" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn_s2" 87;
IO_PORT "btn_s2" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Onboard LEDs (active low: 0 = on)
IO_LOC "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

// UART (active channel on BL616 debugger -> /dev/ttyUSB1)
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
IO_LOC "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// HDMI output (TMDS differential pairs via TLVDS_OBUF)
// No DRIVE attribute: TLVDS_OBUF manages differential drive internally.
IO_LOC "tmds_clk_p" 33;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_clk_n" 34;
IO_PORT "tmds_clk_n" PULL_MODE=NONE;
IO_LOC "tmds_d_p[0]" 35;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[0]" 36;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[1]" 37;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[1]" 38;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[2]" 39;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE;
IO_LOC "tmds_d_n[2]" 40;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE;
